.headerNavul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%; /* set the width to 100% */
  font-family: 'Roboto', sans-serif; /* set the font-family to Roboto */
}

.headerNavli {
  display: block;
  width: inherit; /* set the width to inherit */
  padding: 12px 0;
  text-align: center; /* center the text */
  color: black; /* make the text black */
  text-decoration: none !important; /* remove the underline forcefully */
}

.headerNavli:visited {
  color: black;
  text-decoration: none !important; /* remove the visited underline forcefully */
}

.headerNavli:hover {
  background-color: #d3d3e2;
  color: #333;
}
