html,body{
margin: 0;
font-family: Roboto;
}
#leftTop {
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
}

h1.PageTitle {
  padding-left: 50px;
  align: center;
}
