html,body{
margin: 0;
font-family: Roboto;
}
#leftTop {
  display: flex;
  justify-content: center;
  align-items: center;
}
.MainPhoto {
  border-radius: 50%;
}
h1.PageTitle {
  padding-left: 25px;
  align: center;
}
